.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 80%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  transition: all 0.25s ease-out;
  overflow: hidden;
  background-color: white;
  transition: all 0.25s ease-out;
  overflow: hidden;
  color: #18657d;
  &:hover {
    transform: translateY(-1px);
    box-shadow: rgba(77, 79, 83, 0.2) 0px 8px 24px;
  }

  .name {
    display: flex;
    justify-content: center;
  }
  .card_description {
    margin: 5px;
  }
}
