.mand-list,
.opt-list {
  width: 80%;
  margin: 0 auto;
  .mand-list-box,
  .opt-list-box {
    display: flex;
    gap: 10px;
    line-height: 2;
  }
  .add-button {
    margin-left: 5px;
    background-color:var(--color-button);
    padding:8px;
    border-radius: 7px;
    border:none;
    color:var(--color-title-text);
    text-transform: uppercase;
  }
  .oubli {
    background-color: var(--color-secondary);
    color: var(--color-title-text);
    padding: 13px;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top:15px;
  }

}
.oubli:hover {
  background: var(--color-secondary)
    radial-gradient(circle, transparent 1%, var(--color-secondary) 1%)
    center/15000%;
}
.oubli:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}




  .pays {
    margin-top: 45px;
  }

   .opt-list-input {
    margin-top:10px;
    padding:8px;
    border-radius:7px;
   }
}

