.list-section {
  height: 180vh;
}

.mand-list,
.opt-list {
  width: 80%;
  margin: 0 auto;
  .mand-list-box,
  .opt-list-box, .sugg-list-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    line-height: 3;
  }
  .add-button {
    margin-left: 5px;
  }
  .oubli {
    background-color: var(--color-secondary);
    color: var(--color-title-text);
    padding: 13px;
    border-radius: 7px;
    margin-bottom: 10px;
  }
  .pays {
    margin-top: 45px;
  }
  .delete-button {
    margin: 10px;
    padding: 0px 10px;
  }
}
