.list-section {
  height: 180vh;
}

.mand-list,
.opt-list {
  width: 80%;
  margin: 0 auto;
  .opt-list-box,
  .sugg-list-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    line-height: 3;
  }
  .mand-list-box {
    display: flex;
    gap: 10px;
    line-height: 3;
  }
  .add-button {
    margin-left: 5px;
    background-color: var(--color-button);
    padding: 8px;
    border-radius: 7px;
    border: none;
    color: var(--color-title-text);
    text-transform: uppercase;
  }
  .oubli {
    background-color: var(--color-secondary);
    color: var(--color-title-text);
    padding: 13px;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
}
.buttonContainer {
  display: flex;
  justify-content: center;
  .buttonValider {
    background-color: var(--color-button);
    color: var(--color-title-text);
    font-weight: bold;
    font-family: var(--text-font);
    width: 50%;
    border-radius: 5px;
    border: none;
    margin: 20px 0px 15% 0;
    padding: 10px 40px 10px 40px;
    text-transform: uppercase;
    &:hover {
      background-color: var(--color-button);
      cursor: pointer;
      scale: 1.25;
    }
  }
}

.fondblur {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.494);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  .fondgris {
    position: relative;
    border-radius: 10px;
    background-color: #e2dbd795;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
  }
}

.pays {
  margin-top: 45px;
}
.delete-button {
  margin: 10px;
  padding: 0px 10px;
  background-color: var(--color-button);
  border-radius: 7px;
  border: none;
  color: var(--color-title-text);
  text-transform: uppercase;
}
.opt-list-input {
  margin-top: 10px;
  padding: 8px;
  border-radius: 7px;
}
