.center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;

  //   &:hover {
  //     transform: translateY(-1px);
  //     box-shadow: rgba(77, 79, 83, 0.2) 0px 8px 24px;
  //   }
}
