.center{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;

  .card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 80%;
    background-color: var(--color-bg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
    transition: all 0.25s ease-out;
    overflow: hidden;
    background-color: white;
    transition: all 0.25s ease-out;
    overflow: hidden;
    color: var(--color-secondary);

   

    &:hover {
      transform: translateY(-1px);
      box-shadow: rgba(77, 79, 83, 0.2) 0px 8px 24px;
    }

    .img {
     height: 25vh;
     display:flex;
     align-items: center;

    }
    .name {
      margin: 20px;
      display: flex;
      justify-content: center;
      font-family: var(--titlefont-primary);
    }
    .card_description {
      margin: 20px;
      font-family: var(--titlefont-secondary);
    }
    .full_button {
      display:flex;
      justify-content: flex-end;
    }
    .button {
      background-color: var(--color-button);
      color: var(--color-title-text);
      font-weight: bold;
      font-family: var(--text-font);
      width: 40%;
      border-radius: 5px;
      border:none;
      margin: 10px;
      text-transform:uppercase;
    }
  }
}
